.container-fluid
    .row
        .jumbotron
            center
                h2 Log in to get started
                
.container
    div 
        center
            //target self here to avoid routes
            h1
                a(href="/auth" target="_self") Here
                

