.container-fluid
    .row
        .jumbotron
            center
                h1 {{header}}
                h3 Input info and get a header preview
                h3 Use the Export button to download the report in .csv format
                
.container
    .row
        center
            h1 YouTube Publishing
        .col-md-6(style="border:solid #eee;padding:20px;")
            center
                h2 Enter 'customID'
                hr
            .row
                .col-md-6
                    form(name='pubForm')
                        label Pick a month
                        select.form-control(name="month",ng-model="pub.month")
                            option(ng-repeat="month in months") {{month}}
                        label Pick a year
                        select.form-control(name="year",ng-model="pub.year")
                            option(ng-repeat="year in pubyears") {{year}}
                        input(placeholder='enter a customId',ng-model="pub.customId",name="pubcustomId")
                        button.btn.btn-default(ng-click="pubquery(pub)") Preview
                        br
                        button.btn.btn-primary(ng-click="pubexport(pub)") Export
                .col-md-6
                    center
                        h3#pubdownload(style="display:none")
                           a(href="",ng-click="pubgetDownload(pub)") Download Publishing Report
        .col-md-6#pubresults(style="display:none;")
            #goodresults(style="display:none")
                center
                    h2 Publishing Totals for {{pubid}}
                    br
                table.table
                    tr
                        thead
                            th Total UGC Views
                            th Total UGC Ad-Enabled views
                            th Total UGC Earnings
                            th Total Partner Views
                            th Total Partner Ad-Enabled views
                            th Total Partner Earnings
                    tr
                        tbody
                            td {{UGCpubViews}}
                            td {{UGCpubAdViews}}
                            td {{UGCpubEarnings}}
                            td {{PARTpubViews}}
                            td {{PARTpubAdViews}}
                            td {{PARTpubEarnings}}
                

            #nullresults(style="display:none")
                center
                    h2(style="color:green") I'm sorry, we couldn't find the channel you're looking for
                
    .row
        center
            h1 SoundCloud
        .col-md-6(style="border:solid #eee;padding:20px;")
            center
                h2 Enter account name
                h2
                    a(href="#", ng-click="scgetDownload(request)") {{scdownload}}
                    a(ng-href="{{link}}",download="{{fileName}}")
                hr
            form(name="scInput", ng-class="{ 'has-error': userForm.email.$invalid }",style="width:30%;")
                label Month
                select.form-control(name="month",ng-model="sc.month")
                    option October
                    option November
                    option December
                    option January
                    option February
                label Year
                select.form-control(name="year",ng-model="sc.year")
                    option 14
                    option 15
                input(placeholder="Enter a label",ng-model="sc.name",name="scname")
                button.btn.btn-primary(ng-click="scquery(sc)") Preview
                br
                button.btn.btn-primary(ng-click="scexport(sc)") Export
        .col-md-6#scprev(style="border:solid #eee;padding:20px;display:none")
            center
                h2 Preview
            table.table
                thead
                    tr
                        th Plays
                        th Revenue
                tbody
                    tr
                        td {{plays}}
                        td {{revenue}}