div(id="loading", style="display:{{loadingstyle}}")
div(style="display:{{loadingstyle}};")
    center
        h3 Loading...

div.row(style="display:{{display}}")
    div.col-md-6
        center
            h1 UGC
            table.table
                thead    
                    tr
                        th UGC Views
                        th UGC Ad-Enabled Views
                        th UGC Earnings
                tbody        
                    tr
                        td {{ugcViews}}
                        td {{ugcAdViews}}
                        td {{ugcEarnings}}

    div.col-md-6
        center
            h1 Partner Provided
            table.table
                thead
                    tr
                        th Partner Views
                        th Partner Ad-Enabled Views
                        th Partner Earnings
                tbody        
                    tr
                        td {{partViews}}
                        td {{partAdViews}}
                        td {{partEarnings}}



div(google-chart chart="chart",style="{{chart.cssStyle}}")

div.row(style="display:{{dashstyle}}")
    div.col-md-6(id="hovertest", style="border:solid #eee 10px;padding:10px;height:22.914em;")
        center
            h2 {{currentMonth}} at a glance
            hr
        h3 UGC Earnings: {{ugcRev}}
        h3 Partner Earnings: {{partRev}}
        hr
        center
            p {{alert}}
            h3(style="color:green;font-style:italic;") +{{difference}}


div.row(style="display:{{dashstyle}}")
    div.col-md-6(id="hovertest", style="border:solid #eee 10px;padding:20px;height:22.914em;")
        center
            h2
                a(style="display:{{downloadstyle}};",href="#",ng-click="getDownload(request)") {{download}}
        form(name="inputInfo", ng-class="{ 'has-error': userForm.email.$invalid }",style="width:100%;")
            center
                h2 Download your monthly report
                p Select your month
            hr
            select.form-control(name="month", ng-model="request.month")
                option February
                option March
                option April
                option May
                option June
                option July
                option August
            br
            br
            button.btn.btn-primary(ng-click="query(request,#{id})") Download
            p(style="display:{{genstyle}}") Generating.....
            
    div.col-md-6(style="background-color:#d64342;padding:20px;height:22.914em;")
        center
            performance
            hr
            h2 
                em {{topVideoName}}
            h3  
                em(style="color:white") ${{topVideoRev}}