.container-fluid
    .row
        .jumbotron
            center
                h1 Please Register
                h3 Access to this site has been limited to registered users
                h3 use the area below to sign up
.container
    .row
        center
            h2 {{message}}
            form.form-inline(role="form", name="signup", ng-class="{ 'has-error': signup.email.$invalid }",style="width:30%;")
                div.form-group
                    div.input-group
                        input(placeholder="Enter your name", ng-model="user.name", name="name",id="username")
                        div.input-group-addon @
                        input(type="email",placeholder="Enter your email", ng-model="user.email", name="email",id="emailaddress")
                button.btn.btn-default(ng-click="register(user)") Submit
    