.container-fluid
    .row
        .jumbotron
            center
                h1 Please Register
                h3 Access to this site has been limited to registered users
                h3 use the area below to sign up
.container
    .row
        center
            h2 {{message}}
            form(name="signup", ng-class="{ 'has-error': signup.email.$invalid }",style="width:30%;")
                input(placeholder="Enter your email address", ng-model="user.email", name="email")
                br
                button.btn.btn-primary(ng-click="register(user)") Submit
    