doctype
html(ng-app="myapp")
  head
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css')
    link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Droid+Sans")
    link(rel='stylesheet', href="css/app.css")
    link(rel='stylesheet', href="owl-carousel/owl.carousel.css")
    link(rel='stylesheet', href="owl-carousel/owl.theme.css")
    script(src="http://code.jquery.com/jquery-2.1.1.min.js")
    script(src="owl-carousel/owl.carousel.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js",type="application/javascript")
    script(src="app/app.js",type="application/javascript")
    script(src="app/controllers.js",type="application/javascript")
    script(src="app/directives.js",type="application/javascript")
    script(src="http://bouil.github.io/angular-google-chart/ng-google-chart.js",type="application/javascript")
    script(src="https://www.google.com/jsapi")
    script.
        google.load("visualization", "1", {packages:["geochart"]});
          google.setOnLoadCallback(drawRegionsMap);

          function drawRegionsMap() {
          
            $.ajax({
                type: "PUT",
                url: '/demographInfo',
                data: {gimme:"something"},
                success: function(err,data){
                    console.log(err);
                    var headers = [];
                    var rowdata = [];
                    var regiondata
                    for(i in err.columnHeaders){
                        headers.push(err.columnHeaders[i].name)
                    }
                    for(i in err.rows){
                        rowdata.push([err.rows[i][0],err.rows[i][1]])
                    }
                    console.log(rowdata)
                    
                    var regionDataArray = [headers]
                    
                    for(i in err.rows){
                        regionDataArray.push(err.rows[i])
                    }
                    
                    var data = google.visualization.arrayToDataTable(regionDataArray);

                    var options = {
                        region:'US',
                        resolution:"provinces"
                    };

                    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                    chart.draw(data, options);
                }
            })
          
            /*var regionDataArray = [
                ['Region', 'State',          'Important Info', 'Other Data'],
                ['US-NY',  'New York',       300,              0],
                ['US-SC',  'South Carolina', 300,              200],
                ['US-PA',  'Pennsylvania',   600,              0],
                ['US-CO',  'Colorado',       0,                500]
            ];

            var data = google.visualization.arrayToDataTable(regionDataArray);

            var options = {
                region:'US',
                resolution:"provinces"
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);*/
          }
              function getStates(id){
                console.log(id)
                /*$.ajax({
                    type: "PUT",
                    url: '/demographInfo',
                    data: {id:id},
                    success: function(err){
                        $('#regions_div').empty()
                        $('#header').empty()
                        var headers = [];
                        var rowdata = [];
                        var regiondata
                        for(i in err.columnHeaders){
                            headers.push(err.columnHeaders[i].name)
                        }
                        for(i in err.rows){
                            rowdata.push([err.rows[i][0],err.rows[i][1]])
                        }
                        console.log(rowdata)

                        var regionDataArray = [headers]

                        for(i in err.rows){
                            regionDataArray.push(err.rows[i])
                        }

                        var data = google.visualization.arrayToDataTable(regionDataArray);

                        var options = {
                            region:'US',
                            resolution:"provinces"
                        };

                        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                        chart.draw(data, options);
                    }
                })*/
              }
    script(src="https://maps.googleapis.com/maps/api/js?libraries=visualization")
        
    style.
        #owl-demo, .item img{
            display: block;
            width: 100%;
            height: auto;
        }
    
  body
  navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="#") INDMusic Network {{header}}
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li  
                        a(href="/report", target="_self") Reports
                    li
                        a(href="/dashboard",target="_self") Dashboard
                    li
                        a(href="/map",target="_self") Map Demo
                        
                ul.nav.navbar-nav.navbar-right
                    li  
                        a(href="#") #{user} <!-- user variable from the router -->
                        
                    li
                        a(href="#") #{status}

.container-fluid
    .row
        .jumbotron(style="background-color:#D64342;padding-bottom:0px")
            center
                user
                h2 #{user}
                h3 <em style="color:white">Have new music? Send it to us</em>
                    a(href="mailto:uploads@indmusicnetwork.com") <img src="images/email-icon.png" height="80" width="80" hspace="0"></img>
div(ng-view)
    block content