doctype
html(ng-app="myapp")
  head
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css')
    script(src="http://code.jquery.com/jquery-2.1.1.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
    script(src="app/app.js",type="application/javascript")
    script(src="app/controllers.js",type="application/javascript")
    script(src="app/directives.js",type="application/javascript")
    
  body
  
    navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container
            .navbar-header
                a.navbar-brand(href="#") INDMusic Network {{header}}
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li(ng-class="{ active: isActive('/') }")
                        a(href="/") Home
                    li  
                        a(href="/report" target="_self") Reports
                    li
                        a(href="#") Updates
                        
                ul.nav.navbar-nav.navbar-right
                    li  
                        a(href="#") #{user} <!-- user variable from the router -->
                        
                    li
                        a(href="#") #{status}

    div(ng-view)
        block content
