doctype
html(ng-app="myapp")
  head
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css')
    script(src="http://code.jquery.com/jquery-2.1.1.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js",type="application/javascript")
    script(src="app/app.js",type="application/javascript")
    script(src="app/controllers.js",type="application/javascript")
    script(src="app/directives.js",type="application/javascript")
    script(src="http://bouil.github.io/angular-google-chart/ng-google-chart.js",type="application/javascript")
    script(src="https://www.google.com/jsapi")
    script.
        google.load("visualization", "1", {packages:["geochart"]});
          google.setOnLoadCallback(drawRegionsMap);

          function drawRegionsMap() {
          
            $.ajax({
                type: "PUT",
                url: '/demographInfo',
                data: {gimme:"something"},
                success: function(err,data){
                    console.log(err);
                    var headers = [];
                    var rowdata = [];
                    var regiondata
                    for(i in err.columnHeaders){
                        headers.push(err.columnHeaders[i].name)
                    }
                    for(i in err.rows){
                        rowdata.push([err.rows[i][0],err.rows[i][1]])
                    }
                    console.log(rowdata)
                    
                    var regionDataArray = [headers]
                    
                    for(i in err.rows){
                        regionDataArray.push(err.rows[i])
                    }
                    
                    var data = google.visualization.arrayToDataTable(regionDataArray);

                    var options = {
                        region:'US',
                        resolution:"provinces"
                    };

                    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                    chart.draw(data, options);
                }
            })
          
            /*var regionDataArray = [
                ['Region', 'State',          'Important Info', 'Other Data'],
                ['US-NY',  'New York',       300,              0],
                ['US-SC',  'South Carolina', 300,              200],
                ['US-PA',  'Pennsylvania',   600,              0],
                ['US-CO',  'Colorado',       0,                500]
            ];

            var data = google.visualization.arrayToDataTable(regionDataArray);

            var options = {
                region:'US',
                resolution:"provinces"
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);*/
          }
              function getStates(id){
                console.log(id)
                /*$.ajax({
                    type: "PUT",
                    url: '/demographInfo',
                    data: {id:id},
                    success: function(err){
                        $('#regions_div').empty()
                        $('#header').empty()
                        var headers = [];
                        var rowdata = [];
                        var regiondata
                        for(i in err.columnHeaders){
                            headers.push(err.columnHeaders[i].name)
                        }
                        for(i in err.rows){
                            rowdata.push([err.rows[i][0],err.rows[i][1]])
                        }
                        console.log(rowdata)

                        var regionDataArray = [headers]

                        for(i in err.rows){
                            regionDataArray.push(err.rows[i])
                        }

                        var data = google.visualization.arrayToDataTable(regionDataArray);

                        var options = {
                            region:'US',
                            resolution:"provinces"
                        };

                        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                        chart.draw(data, options);
                    }
                })*/
              }
    script(src="https://maps.googleapis.com/maps/api/js?libraries=visualization")
    
body
    div
        center
            h1#header Current USA Views for <br><em>JodyHighRoller</em>
    div
        center
            hr
            h2 Channel ID
            input(id="chanid",type="text")
            button#sub USA
            button#out Global
    #regions_div
    
    
script.
     $('#sub').click(function(){
            console.log($('#chanid').val())
            var id = $('#chanid').val();
            $.ajax({
                    type: "PUT",
                    url: '/demographInfo',
                    data: {id:id,usa:true},
                    success: function(err){
                        $('#regions_div').empty()
                        $('#header').empty()
                        var headers = [];
                        var rowdata = [];
                        var regiondata
                        for(i in err.columnHeaders){
                            headers.push(err.columnHeaders[i].name)
                        }
                        for(i in err.rows){
                            rowdata.push([err.rows[i][0],err.rows[i][1]])
                        }
                        console.log(rowdata)

                        var regionDataArray = [headers]

                        for(i in err.rows){
                            regionDataArray.push(err.rows[i])
                        }

                        var data = google.visualization.arrayToDataTable(regionDataArray);

                        var options = {
                            region:'US',
                            resolution:"provinces"
                        };

                        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                        chart.draw(data, options);
                    }
                })
          })
          
        $('#out').click(function(){
            $('#out').click(function(){
            console.log($('#chanid').val())
            var id = $('#chanid').val();
            $.ajax({
                    type: "PUT",
                    url: '/demographInfo',
                    data: {id:id,world:true},
                    success: function(err){
                        $('#regions_div').empty()
                        $('#header').empty()
                        var headers = [];
                        var rowdata = [];
                        var regiondata
                        //console.log(err)
                        for(i=0;i<=1;i++){
                            headers.push(err.columnHeaders[i].name)
                        }
                        for(i in err.rows){
                            rowdata.push([err.rows[i][0],err.rows[i][1],err.rows[i][2],err.rows[i][3],err.rows[i][4],err.rows[i][5],err.rows[i][6]])
                        }
                        //console.log(rowdata)

                        var regionDataArray = [headers]
                        console.log(headers)

                        for(i in err.rows){
                            regionDataArray.push([err.rows[i][0],err.rows[i][1]])
                        }

                        var data = google.visualization.arrayToDataTable(regionDataArray);

                        /*var options = {
                            region:'US',
                            resolution:"provinces"
                        };*/

                        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                        chart.draw(data);
                    }
                })
          })
        })