extends layout

.container-fluid
    .row
        .jumbotron
            center
                h1 Sign Up!
                h3 Press the button to initiate the signup process
.container
    .row
        center
            button.btn.btn-primary(ng-click="signup(#{foo})") Here
    